@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');
html { 
  font-family: 'Open Sans';
}

.date {
  float: right;
}

.dates {
  margin-top: 5%;
  line-height: 10%;
}

.date-type {
  display: flex;
  max-width: 25%;
  align-items: center;
  justify-content: space-between;
}

.date-label {
  text-wrap: nowrap;
}

/* Code inside a codeblock */
pre > code {
  font-family: monospace;
}

/* Inline code */
:not(pre) > code {
  background-color: #252525;
  color: #ff8000;
  font-family: monospace;
  font-size: 100%;
  border-radius: 0.4rem;
  padding: 4px 6px;
}