<!-- HTML for sections -->

{{ partial "header.html" . }}

<div class="content-wrapper">
  {{ if .Params.showtitle }}
    <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  {{ if (eq .Title "Journal") }}
    <ul style="list-style-type: none;">
      {{ $pages := .Site.RegularPages }}
      {{ range (where $pages "Section" "!=" "") }}
        {{ if (not .Params.Private) }}
          <li>
            <span class="date">{{ .Date.Format "2006-01-02" }}</span>
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
