<!-- HTML for a single post -->

{{ partial "header.html" . }}

{{ if .Params.math }}
  <!-- Math rendering -->
  <!-- {{ partial "mathjax.html" . }} -->
  {{ partial "katex.html" . }}
{{ end }}
{{ if .Params.mermaid }}
  <!-- Diagram rendering -->
  {{ partial "mermaid.html" . }}
{{ end }}

<!-- Metadata for a post (i.e. regular page) -->
<div class="article-meta">
  {{ $delim := "" }}
  <strong><span class="title">{{ $delim }} {{ .Title | markdownify }}</span></strong>
  {{ if .Params.subtitle }}<p>{{ $delim }} {{ .Params.subtitle | markdownify }}</p>{{ end }}
  {{ if .Params.date }}<p class="date">{{ $delim }} {{ .Date.Format "2006-01-02" }}</p>{{ end }}
</div>

<!-- The post content -->
<div class="content-wrapper">
  <main class="post">
    {{ .Content }}
  </main>
</div>

{{ partial "footer.html" . }}
