<!-- HTML for a single post -->

{{ partial "header.html" . }}

{{ if .Params.math }}
  <!-- Math rendering -->
  <!-- {{ partial "mathjax.html" . }} -->
  {{ partial "katex.html" . }}
{{ end }}
{{ if .Params.mermaid }}
  <!-- Diagram rendering -->
  {{ partial "mermaid.html" . }}
{{ end }}

<!-- Metadata for a post (i.e. regular page) -->
<div class="article-meta">
  {{ $delim := "" }}
  <strong><span class="title">{{ $delim }} {{ .Title | markdownify }}</span></strong>
  {{ if .Params.subtitle }}<p>{{ $delim }} {{ .Params.subtitle | markdownify }}</p>{{ end }}
  <!-- <div class="dates">
    {{ if .Params.date }}
      <div class="date-type">
        <h4 class="date-label">Published:</h4>
        <h4 class="date">{{ $delim }} {{ .Date.Format "2006-01-02" }}</h4>
      </div>
      {{ end }}
    {{ if .Params.last_updated }}
      <div class="date-type">
        <h4 class="date-label">Updated: </h4>
        <h4 class="date"> {{ $delim }} {{ .Date.Format "2006-01-02" }}</h4>
      </div>
    {{ end }}
  </div> -->
</div>

<!-- The post content -->
<div class="content-wrapper">
  <main>
    {{ .Content }}
  </main>
</div>

{{ partial "footer.html" . }}
